* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration-color: rgb(0, 0, 0);

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}


.logo {
  font-size: 50px;
  font-family: 'Marck Script';
  color: gold;
  font-weight: 900;
  transition: 1s ease;
}  

.logo:hover {
  color: rgb(255, 251, 0);
  text-shadow: 0 0 25px rgb(255, 255, 60),
  0 0 50px rgb(255, 238, 0),
  0 0 100px gold;
  transform: scale(1.1);
}
.span6 {
  color: #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}

.navbar a {
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 1s ease;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(255, 157, 0);
  border-bottom: 3px solid rgb(255, 204, 0);
}

.chat {
  padding: 10px 28px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 1s ease;
}

.chat:hover {
  background-color: rgb(9, 140, 216);
  box-shadow: 0 0 25px rgb(10, 142, 195);
  color: rgb(255, 255, 255);
}

.home {
  background: #201f1f;
  background-image: url(BG.png);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 12% 0;
  margin-bottom: 20px;
  flex-wrap: wrap; 
}

.home-content {
  max-width: 800px;
  flex: 1; 
}

.home-content h3 {
  font-size: 38px;
  margin-top: 3.9em;
  color: gold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home-content h1 {
  font-size: 75px;
  line-height: 1.2;
  color: white;
  font-family: 'Agbalumo';
}

.home-content p {
  font-size: 18px;
  margin: 25px 0 30px;
  margin-bottom: 20px;
  color: white;
}

.btn-box {
  width: 345px;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
.img-box{
  border-radius: 10%;
  flex: 1;
}
.img-box img {
  width: 100%; 
  max-width: 500px;
  border-radius: 10;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .home-content h3 {
    font-size: 32px;
  }
  
  .home-content h1 {
    font-size: 48px;
  }
  
  .home-content p {
    font-size: 16px;
  }
  
  .btn-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .img-box img {
    width: 100%;
    max-width: 350px;
  }
}
@media (max-width: 480px) {
  .home-content h3 {
    font-size: 28px;
  }
  
  .home-content h1 {
    font-size: 36px;
  }
  
  .home-content p {
    font-size: 14px;
  }
  
  .btn-box {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .img-box img {
    width: 100%;
    max-width: 250px;
  }
}



.btn-1 {
  padding: 15px 28px;
  background-color: rgb(117, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn-1:hover {
  background-color: rgb(9, 140, 216);
  box-shadow: 0 0 25px rgb(10, 142, 195);
  color: rgb(255, 255, 255);
}

.btn-2 {
  padding: 15px 28px;
  background-color: rgb(0, 188, 13);
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn-2:hover {
  background-color: rgb(9, 140, 216);
  box-shadow: 0 0 25px rgb(10, 142, 195);
  color: rgb(255, 255, 255);
}
.btn-3 {
  padding: 15px 28px;
  background-color: rgb(117, 0, 0);
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
  margin-right: 18px;
}
.btn-3:hover {
  background-color: rgb(9, 140, 216);
  box-shadow: 0 0 25px rgb(10, 142, 195);
  color: rgb(255, 255, 255);
}
.btn-4 {
  padding: 15px 28px;
  background-color: rgb(0, 188, 13);
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn-4:hover {
  background-color: rgb(9, 140, 216);
  box-shadow: 0 0 25px rgb(10, 142, 195);
  color: rgb(255, 255, 255);
  margin: 25px 0 30px;
}

.img-box img {
  border-radius: 1%;
  width: 550px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 111, 208);
}

::-webkit-scrollbar-track {
  background-color: #000000;
  width: 50px;
}


.heading {
  text-align: center;
  padding-top: 30px;
  align-items: center;
  font-family: 'Agbalumo';
  font-size: 60px;
}

.services {
  background: #000000;
  background-image: url(BBGG.png);
  color: white;
  padding-bottom: 50px;
}

.services h2 {
  margin-bottom: 5rem;
  color: rgb(255, 255, 255);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  padding: 0 2rem;
}

.service-box {
  background-color: rgba(255, 215, 0, 0.8);
  color: black;
  height: 250px;
  border-radius: 3rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 0;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.5s ease-in-out;
}
  
.service-box.visible {
  opacity: 1; 

}

.service-box:hover {
  background: rgba(255, 255, 255, 0.9); 
  color: black;
  transform: scale(1.05);
}

.service-box .service-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: center;
  align-items: baseline;
  padding: 2em;
}

.service-info h4 {
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
}

.service-info p {
  font-size: 1.6rem;
  font-weight: 400;
  max-height: 100px;
  margin: auto;
  padding-bottom: 50px;
  font-family: 'Share';
}

@media (max-width: 1200px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .services-container {
    grid-template-columns: 1fr;
  }

  .service-box {
    height: auto;
  }

  .service-info h4 {
    font-size: 2rem;
  }

  .service-info p {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 36px;
  }

  .service-info h4 {
    font-size: 1.8rem;
  }

  .service-info p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 36px;
  }

  .service-info h4 {
    font-size: 1.8rem;
  }

  .service-info p {
    font-size: 1.2rem;
  }
}

.about {
  padding: 100px 12%;  
  display: flex;
  align-items: center;
  gap: 7em;
  flex-wrap: wrap; 
  justify-content: center;
  background: rgb(104, 104, 104);
  background-image: url(BG.png);
  background-size: 400% 400%; 
  animation: gradientMovement 10s ease infinite; 
}
.about-img {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #009dff;
}

.about-img img {
  position: relative;
  top: 3rem;
  width: 30vw; 
  max-width: 500px; 
  height: 100%; 
  border-radius: 500%; 
  box-shadow: 0 0 25px gold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.about-img img:hover{
  box-shadow: 0 0 50px gold,
  0 0 100px gold;
}
.about-content {
  background-image: url(BGGG.png);
  max-width: 800px;
  flex: 1; 
}
.about-content h3 {
  font-size: 42px;
  text-align: left;
  color: white;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-content h2 {
  font-size: 42px;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}

.about-content1 {
  font-size: 40px;
  color: rgb(255, 251, 0);
  margin-bottom: 20px;
  position: relative;
}

.about-content1 .span5 {
  position: relative;
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-content1 .span5::before {
  content: "Frontend Developer";
  color: gold;
  animation: words 20s infinite steps(1);
}

.about-content1 .span5::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgb(14, 184, 232);
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes words {
  0%, 20% {
    content: "Frontend Developer";
  }
  21%, 40% {
    content: "Graphic Designer";
  }
  41%, 60% {
    content: "UI / UX Designer";
  }
  61%, 80% {
    content: "Event Organizer";
  }
  81%, 100% {
    content: "Freelancer";
  }
}

@keyframes typing {
  0%, 100% {
    width: 0;
  }
  5%, 95% {
    width: 100%;
  }
}

.about-content p {
  font-size: 20px;
  margin: 25px 0 30px;
  color: white;
  font-family: 'Amarante';
}

.contact-form {
  background-image: url(BGG.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 12%;
  background-color: white;
}

.contact-form h2 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 36px;
}

.contact-form form {
  max-width: 50em;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3em;
}

.contact-form form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea {
  width: calc(50% - 1rem);
  padding: 1.5em;
  font-size: 18px;
  color: #000000;
  background: rgb(255, 255, 255);
  border-radius: .8rem;
  margin: 1rem 0;
  resize: none;
}

.contact-form form textarea {
  width: 100%;
}

.contact-form form input[type="submit"] {
  width: auto;
}
.span1 {
  color: maroon;
}
.btn-8 {
  padding: 15px 28px;
  background-color: rgb(0, 188, 13);
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn-8:hover {
  background-color: rgb(9, 140, 216);
  box-shadow: 0 0 25px rgb(10, 142, 195);
  color: rgb(255, 255, 255);
}
.message1 {
  font-size: 30px;
  font-family: Marck Script;
  font-weight: 900;
  border: 2px solid transparent;
  border-radius: 8px;
}
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: black;
}
.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer .social a{
  font-size: 24px;
  color: white;
  border: 2px solid orangered;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
  transition: 0.3 ease;
}
.footer .social a:hover{
  transform: scale(1.2) translateY(-10px);
  color: orangered;
  border: 2px solid orangered;
}
.footer ul{
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a{
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.footer ul li a:hover{
  border-bottom: 3px solid orangered;
}
.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: white;
}
